<footer class="row">
  <div class="large-12 columns no-pad"><hr>
    <div class="large-6 small-12 columns">
      <p>&#169; Copyright 2013 MemoryBox Ltd. All rights reserved.</p>
    </div>

    <div class="large-6 small-12 columns">
        <ul class="large-right inline-list">
          <li>
            <a href="javascript:void(0)" data-uv-lightbox="classic_widget" data-uv-mode="feedback" data-uv-primary-color="#cc6d00" data-uv-link-color="#007dbf" data-uv-forum-id="207384">Give Feedback</a>
          </li>
          <li><a href="/privacy">Privacy Policy</a></li>
          <li><a href="/terms">Terms of Service</a></li>
        </ul>
    </div>
  </div>
</footer>